


.dice
{
  width: 75px;
  height: 75px;
  background:url(1.png) no-repeat;
}

.dice_1
{
background:url(1.png) no-repeat;
}

.dice_2{background:url(2.png) no-repeat;}

.dice_3{background:url(3.png) no-repeat;}

.dice_4{background:url(4.png) no-repeat;}

.dice_5{background:url(5.png) no-repeat;}

.dice_6{background:url(6.png) no-repeat;}
